body {
    padding: 0%;
    margin: 0%;
    font-family: 'Spartan', sans-serif;
}
.grid{
    height: 100vh;
    display: grid;
    grid-template-areas: "bloc-up"
                        "bloc-down";
}
.bloc-up{
    margin:15vh 10vw 0vh 12vw;
    grid-area: "bloc-up";
    display: grid;
    grid-template-areas: "bloc-up-left bloc-up-right";
}
.bloc-up-left{
    grid-area: "bloc-up-left";
}
.bloc-up-right{
    grid-area: "bloc-up-right";
}
.title{
    white-space: pre-line;
    color: hsl(300, 43%, 22%);
    font-weight: 700;
    font-size: 3vw;
    padding: 0%;
    margin: 0%;
}
.description{
    white-space: pre-line;
    font-size: 1vw;
    margin: 0%;
    padding: 0%;
}
.star{
    margin: 0%;
    padding: 0%;
}
.card-rate{
    background-color: hsl(0, 0%, 96%);
    width: 28vw;
    padding: 2vh 0vw 2vh 2vw;
    border-radius: 7px;
    margin-top: 2vh;
}
.rate1{
    margin-top: 1vh;
    margin-left: -3vw;
}
.rate3{
    margin-left: 3vw;
}
.bloc-star{
    display: inline-block;
}
.txt-rate{
    display: inline;
    font-size: 1vw;
    margin: 0%;
    padding: 0%;
    color: black;
    font-weight: 700;
    padding-left: 1.5vw;
}
.bloc-down{
    grid-area:"bloc-down";
    margin: 0vh 10wn 10vh 12vw;
}
.card-opinion{
    width: 25%;
    background-color: purple;
    padding: 3% 2% 2% 2%;
    border-radius: 10px;
    position: relative;
}
.opinion1{
    margin-right: 2vw;
    float: left;
    background: purple;
}
.opinion2{
    margin-top: 2vh;
    margin-right: 2vw;
    float: left;
    background: purple;
}
.opinion3{
    margin-top: 4vh;
    float: left;
    background: purple;
}
.photo{
    border-radius: 100%;
    width: 3vw;
}
.info{
    display: inline-block;
    top:0%;
    position: relative;
    top: -1vh;
    right: -1vw;
}
.name{
    padding: 0%;
    margin: 0%;
    font-size: 1vw;
    font-weight: 500;
    color: black
}
.verified {
    padding: 0%;
    margin: 0%;
    font-size: 0.9vw;
    color: pink
}
.bloc-opinion{
    margin-top: 2vh;
}
.txt-opinion{
    font-size: 0.8vw;
    color: black
}
.pattern-up{
    position: relative;
    -ms-transform: translate(33%, 15%);
    transform: translate(33%,15%);
}
.attribution {
    font-size: 11px;
    text-align: center;
    color: black;
  }
  .attribution a {
    color: blue;
    font-weight: 700;
    text-decoration: none;
  }
  .attribution a:hover{
      text-decoration: underline;
  }
   footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: hsl(300, 43%, 22%);
    text-align: center;
    font-size: 1em;
    padding: 0%;
    padding-bottom: 1%;
  } 
  @media screen and (max-width: 700px) {
      .pattern-up{
          display: none;
      }
      .pattern-down{
          display: none;
      }
      .bloc-up{
          grid-template-areas: "bloc-up-left" "bloc-up-right";
          margin: 10% 5% 0% 5%;
      }
      .bloc-up-right{
          margin: 2vh;
          grid-area: "bloc-up-right";
      }
      .title{
          text-align: center;
          white-space: normal;
          margin-top: 2%;
          font-size: 6vw;
      }
      .description{
          text-align: center;
          white-space: normal;
          margin-top: 1vh;
          font-size: 3vw;
      }
      .card-rate{
          width: 100%;
          margin: 0%;
          padding: 0%;
          border-radius: 5px;
      }
      .rate1{
          margin: 0%;
          margin-bottom: 10px;
      }
      .rate2{
          margin-bottom: 10px;
      }
      .rate3{
          margin:0%;
      }
      .txt-rate{
          display: block;
          text-align: center;
          font-size: 10px;
          padding-bottom: 2%;
      }
      .bloc-star{
          display: block;
          text-align: center;
          left: 50%;
          padding-top: 2%;
      }
      .star{
          width: 2vh;
      }
      .bloc-down{
          margin-top: 25px;
          margin-left: 0%;
      }
      

    .card-opinion {
        width: 100%;
        border-radius: 5px;
    }

    .photo {
        width: 12vw;
    }

    .name {
        font-size: 4vw;
    }

    .verified {
        font-size: 3vw;
        font-weight: 300;
    }

    .txt-opinion {
        font-size: 4vw;
    }

    .opinion1 {
        margin: 0%;
        margin-bottom: 10px;
    }
    
    .opinion2 {
        margin: 0%;
        margin-bottom: 10px;
    }

    .opinion3 {
        margin: 0%;
    }

    .pattern-mobile-up{
        display: block;
        position: absolute;
        -ms-transform: translate(-50%, 0%);
        transform: translate(-50%, 0%);
    }
    .footer{
        font-size: 10px;
        position: relative;
        color: black;
    }
  }
